In [ ]:
# SRN: PES1UG22CS461
# Name: Rahul Baradol
# Class: 3rd Sem
# Section: H

In [39]:
import pandas as pd

In [40]:
df = pd.read_csv('./titanic.csv');

In [41]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [42]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [43]:
df.drop(columns=['Cabin'], axis=1, inplace=True)

In [44]:
df['Name'] = df['Name'].astype('str')
df['Sex'] = df['Sex'].astype('str')

In [45]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Embarked        object
dtype: object

In [46]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Embarked'],
      dtype='object')

In [47]:
'''
    Answer 1:
    PassengerId: Nominal because difference between two passengerId doesn't hold any meaning
    Sex: Nominal because the values don't have any order
    Survived: Nominal because there is no bias or preference for the values 
    Ticket: Nominal because there is no preference given for the values
    Fare: Interval because the fare cannot be zero and it is a number
    Cabin: Nominal because there is no preference for the values given
    Embarked: Ordinal because there is some preference or bias to towards some values 
    Pclass: Ordinal because there is more priority for the upper classes
    SibSp: Ratio because the number of siblings could be zero on board
    Name: Nominal because there is no order or preference for the names
    Parch: Ratio because the number of parents on board could be zero
'''

'\nArithmeticError\n\n'