In [59]:
# SRN: PES1UG22CS461
# Name: Rahul Baradol
# Class: 3rd Sem
# Section: H

In [60]:
import pandas as pd

In [61]:
df = pd.read_csv('./titanic.csv');

In [62]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [63]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [64]:
df.drop(columns=['Cabin'], axis=1, inplace=True)

In [65]:
df['Name'] = df['Name'].astype('str')
df['Sex'] = df['Sex'].astype('str')

In [66]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Embarked        object
dtype: object

In [67]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Embarked'],
      dtype='object')

In [68]:
'''
    Answer 1:
    PassengerId: Nominal because difference between two passengerId doesn't hold any meaning
    Sex: Nominal because the values don't have any order
    Survived: Nominal because there is no bias or preference for the values 
    Ticket: Nominal because there is no preference given for the values
    Fare: Interval because the fare cannot be zero and it is a number
    Cabin: Nominal because there is no preference for the values given
    Embarked: Ordinal because there is some preference or bias to towards some values 
    Pclass: Ordinal because there is more priority for the upper classes
    SibSp: Ratio because the number of siblings could be zero on board
    Name: Nominal because there is no order or preference for the names
    Parch: Ratio because the number of parents on board could be zero
'''

"\n    Answer 1:\n    PassengerId: Nominal because difference between two passengerId doesn't hold any meaning\n    Sex: Nominal because the values don't have any order\n    Survived: Nominal because there is no bias or preference for the values \n    Ticket: Nominal because there is no preference given for the values\n    Fare: Interval because the fare cannot be zero and it is a number\n    Cabin: Nominal because there is no preference for the values given\n    Embarked: Ordinal because there is some preference or bias to towards some values \n    Pclass: Ordinal because there is more priority for the upper classes\n    SibSp: Ratio because the number of siblings could be zero on board\n    Name: Nominal because there is no order or preference for the names\n    Parch: Ratio because the number of parents on board could be zero\n"

In [69]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Embarked'],
      dtype='object')

In [70]:
'''
    Answer 2:
        Survived: Mode
        Pclass: Mean
        Sex: Mode
        Age: Mean
        SibSp: Mean
        Parch: Mean
        Fare: Mean
        Embarked: Mode
'''

'\n    Answer 2:\n    Survived: Mode\n    Pclass: Mean\n    Sex: Mode\n    Age: Mean\n    SibSp: Mean\n    Parch: Mean\n    Fare: Mean\n    Embarked: Mode\n'

In [75]:
print("The standard deviations are:")
print(df['Pclass'].std())
print(df['Age'].std())
print(df['SibSp'].std())
print(df['Parch'].std())
print(df['Fare'].std())

The standard deviations are:
0.836071240977049
14.526497332334042
1.1027434322934317
0.8060572211299483
49.6934285971809

In [76]:
print("The range of values are:")
print("The range of Pclass is ", df['Pclass'].min(), "-" , df['Pclass'].max())
print("The range of Age is ", df['Age'].min(), "-" , df['Age'].max())
print("The range of SibSp is ", df['SibSp'].min(), "-" , df['SibSp'].max())
print("The range of Parch is ", df['Parch'].min(), "-" , df['Parch'].max())
print("The range of Fare is ", df['Fare'].min(), "-" , df['Fare'].max())
print("The range of Survived is ", df['Survived'].min(), "-" , df['Survived'].max())

The range of values are:
The range of Pclass is  1 - 3
The range of Age is  0.42 - 80.0
The range of SibSp is  0 - 8
The range of Parch is  0 - 6
The range of Fare is  0.0 - 512.3292
The range of Survived is  0 - 1